.md-dialog {
  background-color: white;
  font-family: frutiger;
}
.md-card-content {
  padding: 20px;
  font-size: 14pt;
  font-family: frutiger;
}
.md-card {
  padding: 20px;
  margin: 2px;
  display: inline-block;
  vertical-align: top;
}
.md-button-group {
  display: flex;
}
